@media (min-width: 1920px) and (max-width: 1200px) {}

@media (min-width: 1200px) and (max-width: 1919px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 576px) and (max-width: 767px) {
    

}

@media (min-width: 481px) and (max-width: 575px) {
    .text {
        font-size: 60px;
    }
    .image {
        margin-top: -150px;
        margin-left: 25%;
    }
    .image img{
        margin-left: -40%;
    }
    
}

@media (min-width: 391px) and (max-width: 480px) {
    .image {
        margin-top: -150px;
        margin-left: 25%;
    }
    .image img{
        width: 35rem;
        margin-left: -40%;
    }
    
}

@media (min-width: 360px) and (max-width: 390px) {
    .text {
        font-size: 60px;
    }
    .image {
        margin-top: -150px;
        margin-left: 25%;
    }
    .image img{
        width: 30rem;
        margin-left: -10%;
    }

}