@media (min-width: 1920px) and (max-width: 1200px) {}

@media (min-width: 1200px) and (max-width: 1919px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    .text {
        font-size: 64px;
    }

    .image{
        width: 100%;
    }

    .image img{
        width: 35rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text {
        font-size: 64px;
    }

    .image img{
        margin-left: 150%;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    

}

@media (min-width: 481px) and (max-width: 575px) {
    .text {
        font-size: 60px;
        margin-left: 10%;
    }
    .image {
        margin-top: -150px;
        margin-left: 25%;
    }
    .image img{
        margin-left: -35%;
    }
    
}

@media (min-width: 391px) and (max-width: 480px) {
    .text {
        font-size: 54px;
    }
    .image {
        margin-top: -190px;
        margin-left: 25%;
    }
    .image img{
        margin-left: -30%;
    }
}

@media (min-width: 360px) and (max-width: 390px) {
    .text {
        font-size: 54px;
        margin-left: 5%;
    }
    .image {
        margin-top: -190px;
        margin-left: 25%;
    }
    .image img{
        margin-left: -25%;
    }

}